<html>
    <head>
        <title>lisa's blog. yay.</title>
    </head>
    <body>
      <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
      <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Welcome to the filler text. It's text to fill the space. Space is empty with out filler. Without content filler is meaningless. Why are you reading this? Who are you? Who am I? Where am I? What am I?</p>
        </div>
        <div>
                    <p>published: 14.06.2014, 12:14</p>
                    <h2><a href="">My second post</a></h2>
                    <p>Not again.</p>
                </div>
    </body>
</html>
